.banner-img {
    border-radius: 25px;
    height: 110px;
    object-fit: cover;
    width: 100%;
  }

  .banner {
    border-radius: 25px;
    margin-bottom: 35px;
    position: relative;
  }

  .banner-text {
    color: #ffffff;
    font-size: 20px;
    left: 50px;
    position: absolute;
    top: 25px;
 
  }


  @media (min-width: 1024px){
   
    .banner-img{
      height: 223px;
    }
  
    .banner-text{
      font-size: 48px;
      left: 500px;
      top: 50px;
    }

  }

 
