header {
  width: 83%;
  padding-top: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

header nav a {
  font-weight: 500;
  font-size: 12px;
  color: var(--second-color);
  margin: auto;
  text-decoration: none;
}
.link-home:hover, .link-about:hover{
  text-decoration: underline;
  color: var(--second-color);
}

header img {
  height: 28px;
}

@media (min-width: 1024px){
  header{
    width: 93%;
    padding-top: 50px;
  }
  header img {
    height: 68px;
  }
  header nav {
    gap: 50px;
  }
  header nav a{
    font-size: 20px;
  }

}

  