.host-picture img{
    border-radius: 60px;
    height: 32px;
    width: 32px;
}
.host-name{
    color: #ff6060;
    font-size: 12px;
}

@media (min-width: 1024px){
    .host-picture img { 
        width: 64px;
        height: 64px;
    }
}