.rate-host-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.host-picture-name{
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    align-items: center;
    line-height: 1.5;
    gap: 15px;
}
.logement-text p{
	font-weight: 500;
}
.logement-title{
	font-size: 18px;
	margin: 15px 0px 5px;
}
.logement-location{
	font-size: 14px;
	margin-top: 0px;
}
.collapse-equiment{
    list-style: none;
    padding-left: 0;
    display:block;
}
.collapse-equiment li{
    display:block;
}

@media (min-width: 1024px){

    .logement-title{
		font-size: 34px;
		margin: 30px 0px 5px;
	}
	.logement-location{
	font-size: 18px;
	}
    .logement-tag-rate-host-container{
        display: flex;
        justify-content: space-between;
    }
    .host-picture-name{
        gap: 50px;
    }
    .rate-host-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 24px;
    }
    .collapse-descktop{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .collapse-descktop .collapse{
        width: 45%;
    }
   
}

