.rate-container {
    color: var(--second-color);
    margin-top: 24px;
    margin-bottom: 24px;
}
.rate-container img{
    padding: 0px 2px;
}

@media (min-width: 1024px){
	.rate-container img{
        width: 20px;
    }
}